/* global variables */
:root {    
    --primary-1: #00bcd4;
    --primary-2: #08525f;
    --secondary-1: #c7ebf0;
    --secondary-2: #e0f7fa;
    --text-color: #333;
    --background-color: #fff;
    --highlight-color: lightslategray;
    --ff-primary: "Noto Serif", serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
/* global settings */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: var(--ff-primary);
    line-height: 1.5;
    color: var(--text-color);
    background: var(--background-color);
    font-size: 0.875rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    position: relative;
}
    
h2 {color: var(--primary-2);}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-1);
    padding: 0 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    z-index: 10;
}

.logo {
    width: 4rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #08525f;
    font-size: 15px;
    text-transform: uppercase;

}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    margin: 5px;
}

/* hero */
.hero {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
    z-index: 2;
    padding: 20px;
}

.hero-text h1 {
    font-size: 65px;
    margin-bottom: 1px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 180px;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px rgba(0,0,0,1.8);
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards 0.5s;
}
.hero-text button {
    background: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.infographic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* max-width: 900px; */
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; */
}

.infographic-item {
    text-align: center;
    color: var(--primary-2);
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); */
}

.infographic-item h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.infographic-item p {
    font-size: 16px;
    text-transform: uppercase;
}

.highlights {
    background: #fff;
    padding: 40px 0;
    margin-bottom: 30px;
}

.highlights h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    text-transform: uppercase;
}

.highlight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.highlight-box {
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.highlight-box:hover {
    transform: scale(1.03);
    transition: var(--transition);
}


.highlight-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.highlight-box h3 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}

.highlight-box p {
    font-size: 16px;
    color: #666;
}

.highlight-link {
    display: inline-block;
    background: #00bcd4;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.highlight-link:hover {
    opacity: 0.8;
    background-color: var(--primary-1)
}
.highlight-link-cookisland {
    display: inline-block;
    background: lightslategray;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.history {
    display: flex;
    flex-wrap: wrap;
    background: #00bcd4;
    padding: 40px 0;
}

.history-images {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.image-box {
    flex: 1;
    text-align: center;
    background: #e0f7fa;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

.image-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image-box h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.image-box p {
    font-size: 14px;
    color: #666;
}

.about-us {
    padding: 20px 0;
    background: #fff;
}

.about-us .container {
    text-align: center;
}

.about-us h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: #08525f;
}

.about-us p {
    font-size: 17px;
    color: #666;
    line-height: 1.8;
    /* max-width: 800px; */
    margin: 0 auto 20px;
    text-align: justify;
}

.feature-posts {
    /* background-color: #f5f5f5; */
    padding: 40px ;
    padding-bottom: 60px;
    margin-top: 40px;
    text-align: center;
}

.feature-posts h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--primary-2);
}   

.feature-posts p {
    font-size: 16px;
    color: #666;
    line-height: 1.8;
    text-align: center;
}

.ig-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 30px;
}

.ig-container > div {
    max-width: 540px; 
    width: 100%; 
    margin-bottom: 20px; 
}

.ig-container > div {
    max-width: 540px;
    width: 100%; 
    margin-bottom: 20px; 
    height: 750px; 
    overflow: hidden;
} 

.ig-container > div iframe {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
.googlemap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px; 
    width: 100%;
    padding: 20px 0;
    margin-bottom: 50px;;
}

.googlemap iframe {
    width: 100%;
    max-width: 1600px; 
    height: 900px; 
    border: 0;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.history-text {
    flex: 1;
    padding: 20px;
    color: #fff;
}

.history-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.history-text p {
    font-size: 16px;
}

.stats {
    background: #00bcd4;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.stat-box {
    text-align: center;
}

.stat-box p {
    font-size: 18px;
}

.services {
    background: #fff;
    padding: 40px 0;
}

.services h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--primary-2);
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 30px;
}

.service-box {
    background: #e0f7fa;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    .fa-solid {font-size: 30px; color: #08525f; margin-bottom: 10px;}
}

.service-box img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.service-box h3 {
    font-size: 18px;
    color: var(--primary-2);
    margin: 5px 0;
}

.service-box p {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--text-color);
}
.introduction, .thehistory, .culture, .must-visits {
    padding: 20px 0;
    background: #fff;
    margin-bottom: 50px;
    height: 13rem;
}

.introduction h2, .thehistory h2, .culture h2, .must-visits h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: #08525f;
}

.introduction p, .thehistory p, .culture p, .must-visits p {
    font-size: 17px;
    color: #666;
    line-height: 1.6;
    text-align: justify;
}

.blog {
    background: #f5f5f5;
    padding: 40px 0;
}

.blog h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: #08525f;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.blog-post {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--light-shadow);
    /* text-align: center; */
    transition: var(--transition);
}

.blog-post:hover {
    transform: scale(1.03);
    transition: var(--transition);
}

.blog-post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-post h3 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
}

.blog-post p {
    font-size: 14px;
    margin-bottom: 1rem;;
    color: #666;
}

.blog-post button {
    background: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    a{text-decoration: none; color:#fff}
}

.blog-post button:hover {
    opacity: 0.8;
    background-color: var(--primary-1)
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 1600px;
}

.video-container iframe {
    width: 100%; 
    height: 900px; 
    border: 0;
}
.contact-us {
    padding: 40px 0;
    background: #f5f5f5;
}

.contact-us h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: #08525f;
}

.contact-us p {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    a{
        color: var(--primary-2);
        text-decoration: none;
    }
}

.contact-us .social-icons {
    text-align: center;
}

.contact-us .social-icons a {
    color: #08525f;
    font-size: 24px;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-us .social-icons a:hover {
    color: #00bcd4; 
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 10px;
        background: var(--secondary-1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }
    
    .hamburger {
        display: block;
    }

    .highlight-grid {
        grid-template-columns: 1fr;
    }

    .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
    .hero-text {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        padding: 10px;
        margin-top: 50px;
    }
    .hero-text h1 {
        font-size: 38px;
        line-height: 3rem;
    }

    .hero-text p {
        font-size: 8px;
        margin-bottom: 250px;
    }

    .infographic-item h3 {
    font-size: 16px;
}

.infographic-item p {
    font-size: 14px;
}

    .about-us h2 {
        font-size: 25px;
    }
    .about-us p {
        font-size: 14px;
        line-height: 1.6;
        text-align: justify;
    }

    .ig-container {
        grid-template-columns: 1fr;
        padding: 10px 0px;
        max-width: 100%;
        justify-content: center;
    }

    .feature-posts h2 {
        font-size: 25px;
    }
    .feature-post p {
        font-size: 14px;
        line-height: 1.6;
    }

    .services h2 {
        font-size: 25px;
    }
    .highlights h2 {
        font-size: 25px;
        margin: 10px;
    }
    .highlight-box h3 {
        font-size: 20px;
    }
    .highlight-box p {
        font-size: 14px;
    }
    .introduction, .thehistory, .culture, .must-visits {
        padding: 20px 10px;
        margin-bottom: 30px;
        height: 20rem;
    }
    .introduction h2, .thehistory h2, .culture h2, .must-visits h2 {
        font-size: 22px;
    }
    .introduction p, .thehistory p, .culture p, .must-visits p {
        font-size: 14px;
        line-height: 1.6;
        text-align: center;
    }
    .blog h2 {
        font-size: 25px;
    }

    .googlemap {
        min-height: 300px; /* Reduced height for mobile */
        padding: 10px 0;
    }

    .googlemap iframe {
        height: 300px; /* Reduced height for mobile */
        max-width: 100%; /* Full width on mobile */
    }

    .history {
        flex-direction: column;
    }

    .stats {
        flex-direction: column;
    }

    .stat-box {
        margin-bottom: 20px;
    }
    /* .video-container {
        max-width: 100%; 
        margin: 40px auto; 
    } */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}